.featureContainer {
    width: 100%;
    min-height: 200px;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    transition: all 0.2s ease 0s;
  }
  
  .featureContainer:hover {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  }
  
  .featureTitle {
    font-size: 36px;
    font-weight: 500;
  }
  
  @-webkit-keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .featureImage {
    text-align: center;
    border-style: none;
    width: 100%;
    border-radius: 15px;
  }
  .featureImage:hover {
    text-align: center;
    border-style: none;
    width: 135%;
    -webkit-animation: float 4s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
    border-radius: 20px;
  }
  
  .featureContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .featureContent.reversed > .featureImage {
    text-align: right;
  }
  
  .featureContent > * {
    width: 50%;
    flex-shrink: 1;
  }
  
  .featureContent > .featureImage {
    width: 50%;
    flex-shrink: 0;
    text-align: left;
  }
  
  .featureContent.reversed > .featureText {
    padding-left: 0;
    padding-right: 70px;
  }
  
  .featureText {
    padding-left: 70px;
  }
  
  @media only screen and (min-width: 996px) {
    .featureContent.reversed > .featureImage > * {
      width: 80%;
      margin-left: 20%;
    }
    
    .featureContent:not(.reversed) > .featureImage > * {
      width: 80%;
      margin-right: 20%;
    }
  }
  
  @media only screen and (max-width: 996px) {
    .featureImage {
      max-width: 50%;
      margin: 0 auto;
    }
  
    .featureContent {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  
    .featureContent.reversed {
      flex-direction: column;
    }
  
    .featureContent .featureImage,
    .featureContent .featureText {
      width: 50%;
      padding: 0 !important;
      text-align: center;
    }
  
    .featureContent .featureText {
      padding-bottom: 50px !important;
    }
  
    .featureContent .featureImage > img {
      max-width: 60%;
    }
  }
